---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "404 Not Found";
---

<BaseLayout pageTitle={pageTitle}>
    <p>This resource cannot be found.</p>
    <a href="/">Go to Photography</a>
</BaseLayout>
