---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Design";
---

<BaseLayout pageTitle={pageTitle}>
    <p>Please <a href="/contact">contact me</a> to get access to this area.</p>
</BaseLayout>
