---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Contact";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="row">
        <div class="col-md">
            <p>My name is Allison Batoff and I am a user experience designer based out of Ottawa, Ontario.</p>
            <p>When I’m away from my desk I love to travel and to capture the places I visit through photography.</p>
            <p>
                Interested in working together or just curious to learn more? Reach out to me on <a href="https://www.linkedin.com/in/allisonbatoff/"
                    >LinkedIn</a
                >, or using the contact form, and I will happily answer your questions.
            </p>
            <p>
                I can also be found on <a href="http://twitter.com/AllisonBatoff">Twitter</a> where I share what I learn and what inspires me.
            </p>
        </div>
        <div class="col-md">
            <form name="contact" method="POST" data-netlify="true">
                <div class="row">
                    <div class="col-lg mb-3">
                        <label for="firstName" class="form-label">First Name (required)</label>
                        <input type="text" class="form-control" id="firstName" required />
                    </div>
                    <div class="col-lg mb-3">
                        <label for="lastName" class="form-label">Last Name (required)</label>
                        <input type="text" class="form-control" id="lastName" required />
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address (required)</label>
                    <input type="email" class="form-control" id="email" required />
                </div>
                <div class="mb-3">
                    <label for="subject" class="form-label">Subject (required)</label>
                    <input type="text" class="form-control" id="subject" required />
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message (required)</label>
                    <textarea class="form-control" id="message" rows="5" required></textarea>
                </div>
                <input type="button" value="Submit" class="btn btn-primary" />
            </form>
        </div>
    </div>
</BaseLayout>
